---
import SkillCard from "./SkillCard.astro";
const skillList = [
  { text: "HTML", urlIcon: "html.svg" },
  { text: "CSS", urlIcon: "css.svg" },
  { text: "JavaScript", urlIcon: "javascript.svg" },
  { text: "React Js", urlIcon: "react.svg" },
  { text: "Laravel", urlIcon: "laravel.svg" },
  { text: "Python", urlIcon: "python.svg" },
  { text: "Node Js", urlIcon: "node.svg" },
  { text: "Flutter", urlIcon: "flutter.svg" },
  { text: "Postgres", urlIcon: "postgres.svg" },
  { text: "Figma", urlIcon: "figma.svg" },
  { text: "Next Js", urlIcon: "nextjs.svg" },
  { text: "Git", urlIcon: "git.svg" },
]
---

<section class="w-full mt-24" id="skills">
  <h2 class="text-sectionTitle text-4xl font-bold">Habilidades</h2>
  <div class="grid grid-cols-5 gap-6 lg:grid-cols-6 lg:gap-y-5 lg:gap-x-20 mt-8 ">
    {
      skillList.map(skill => (
        <SkillCard
          text={skill.text}
          urlIcon={skill.urlIcon}
        />
      ))
    }
  </div>
</section>