---
import SkillCard from "./SkillCard.astro";
const skillList = [
  {
    name: "HTML",
    urlIcon: "html.svg",
    alt: "Html icon"
  },
  {
    name: "CSS",
    urlIcon: "css.svg",
    alt: "Css icon"
  },
  {
    name: "JavaScript",
    urlIcon: "javascript.svg",
    alt: "JavaScript icon"
  },
  {
    name: "React Js",
    urlIcon: "react.svg",
    alt: "React Js icon"
  },
  {
    name: "Laravel",
    urlIcon: "laravel.svg",
    alt: "Laravel icon"
  },
  {
    name: "Python",
    urlIcon: "python.svg",
    alt: "Python icon"
  },
  {
    name: "Node Js",
    urlIcon: "node.svg",
    alt: "Node js icon"
  },
  {
    name: "Flutter",
    urlIcon: "flutter.svg",
    alt: "Flutter icon"
  },
  {
    name: "Postgres",
    urlIcon: "postgres.svg",
    alt: "Postgres icon"
  },
  {
    name: "Figma",
    urlIcon: "figma.svg",
    alt: "Figma icon"
  },
  {
    name: "Next Js",
    urlIcon: "nextjs.svg",
    alt: "Next Js icon"
  },
  {
    name: "Git",
    urlIcon: "git.svg",
    alt: "Git icon"
  },
]
---

<section class="w-full mt-3">
  <h2>Habilidades</h2>
  <div class="grid grid-rows-2 grid-flow-col gap-4 ">
    {
      skillList.map(skill => (
        <SkillCard name={skill.name} src={skill.urlIcon} alt={skill.alt}/>
      ))
    }
  </div>
</section>