---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills/Skills.astro";
import Projects from "../components/Projects/Projects.astro";
import Contacto from "../components/Contacto/Contacto.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Javier Vidal">
  <Hero/>
  <div class="flex flex-col space-y-24">
    <Skills/>
    <Projects/>
    <Contacto/>
    <Footer/>
  </div>
</Layout>

