---

---

<div class="relative flex flex-col justify-center border-green-500 min-h-[100vh]">
  <div class="flex flex-col md:space-x-12 justify-center md:flex-row">
    <div class="text-5xl md:text-6xl lg:text-7xl font-normal tracking-widest heroName">
      <p class="text-sectionTitle">
        <strong class="font-semibold text-heroName">J</strong>avier
      </p>
      <p class="text-sectionTitle">
        <strong class="font-semibold text-heroName">A</strong>ndrés
      </p>
      <p class="text-sectionTitle">
        <strong class="font-semibold text-heroName">Vi</strong>dal
      </p>
    </div>

    <div class="flex flex-col py-3 space-y-7">
      <div class="space-y-2">
        <h2 class="font-medium text-yellow-400">
          Desarrollador de software Fullstack
        </h2>
        <p class="font-normal leading-6 text-pText">
          Soy un desarrollador de software fullstack con experiencia en la creación de aplicaciones web y móviles. Mi enfoque abarca desde la programación del servidor hasta la interfaz de usuario, utilizando diversas tecnologías. Mi objetivo es entregar soluciones eficientes y funcionales en cada proyecto.
        </p>
      </div>
      <div class="flex space-x-7 items-end">
        <a href="https://github.com/JaviDevp" target="_blank"><img class="w-8" src="/github-hero.svg" alt="github-icon" /></a>
        <a href="https://www.linkedin.com/in/javier-vidal-dev/" target="_blank"><img class="w-8" src="/linkedin-hero.svg" alt="linkedIn-icon" /></a>
        <a href="mailto:javiervidal.dev@gmail.com"><img class="w-8" src="/mail-hero.svg" alt="github-icon" /></a>
      </div>
      <div>
        <a class="cursor-pointer border border-black bg-yellow-400 text-black font-medium rounded-md py-1 px-2"
          target="_blank"
          href="/docs/JavierVidal_CV.pdf"
          >Descargar CV
        </a>
      </div>
    </div>
  </div>

  <div class="absolute bottom-4 flex justify-center w-full">
    <a href="#skills">
      <img src="/scroll.svg" alt="arrow-down" class="w-6">
    </a>
  </div>
</div>

<style>
  .heroName {
    user-select: none;
  }
</style>